.katex-display>.katex>.katex-html>.base,
.tag {
    background: #3399ff;
    border: black;
    border-width: 0.15em;
    border-style: solid;
}

.katex-display>.katex>.katex-html>.base {
    padding: 1em;
}

.katex-display>.katex>.katex-html>.tag {
    padding: 0.25em;
}